.mainHeader {
    color: #708090;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

.mainBody {
    margin: 0 auto;
    width: 75%;
    height: 2000px;
    border-radius: 2em;
    background-color: #708090;
    color: white;
    font-size: 200%;
}

.buttons {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    margin-top: 15px;
}

li {
    display: inline-block;
    list-style: none;
    line-height: 4vw;
    margin: 2px;
    padding: 4px;
    font-family: 'Lato';
    font-style: italic;
    padding-left: 3px;
}

.one {
    font-family: cursive;
    background-color: #0000FF;
    color: white;
    text-decoration: overline;
    padding-left: 3px;
}

.two {
    font-family: 'Tahoma';
    background-color: #473198;
    color: white;
    padding-left: 3px;
}

.three {
    font-family: sans-serif;
    background-color: #FAEBD7;
    color: red;
    ;
    padding-left: 3px;
}

.four {
    background-color: #228B22;
    color: white;
    font-style: italic;
    padding-left: 3px;
}

.five {
    text-decoration: underline;
    font-weight: bold;
    padding-left: 3px;
}

.six {
    font-family: 'Impact';
    background-color: purple;
    color: grey;
    padding-left: 3px;
}

.seven {
    font-family: 'Georgia';
    background-color: white;
    color: red;
    font-weight: bold;
    padding-left: 3px;
}

.eight {
    font-family: 'Lucida Console';
    background-color: #4169E1;
    color: white;
    opacity: .8;
    text-decoration: underline;
    padding-left: 3px;
}

.nine {
    font-family: 'Courier New';
    background-color: #B22222;
    color: #B0E0E6;
    text-decoration: underline;
    padding-left: 3px;
}

.ten {
    font-family: 'Times New Roman', itallic;
    background-color: #9bf3f0;
    color: grey;
    padding-left: 3px;
}
